@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  width: 32%;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 340px;
  min-width: 300px;
}

.image {
  margin-bottom: 26px;
  height: 200px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: var(--color-text-primary);
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  /* line-height: 1.5; */
}

.skills {
  margin-top: 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 12px;
}


.description ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}

.description li {
  margin-bottom: 5px;
  color: var(--color-text-secondary);
  line-height: 1.5;
}

.readMore {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  background-color: inherit;
  border: 0;
}

.readLess {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.techUsed {
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: default;
}

.techUsed:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.techIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  object-fit: contain;
  filter: invert(100%) saturate(0%) brightness(0%) contrast(100%);

}

/* YourStyles.module.css */
.links {
  display: flex;
  /* Use Flexbox */
  justify-content: space-between;
  /* Center the links horizontally */

  gap: 10px;
  /* Space between the links */
  align-items: center;
  /* Vertically center the items */
  margin-bottom: 15px;
  /* Optional: space between project link sets */
}

.link {
  font-size: 25px;
  text-decoration: none;
  color: #eee;
  /* Example link color */
  font-weight: bold;
  padding: 4px 12px;
  border: 1px solid #007bff;
  border-radius: 10px;
  background-color: #1b334d;
}

.link:hover {
  background-color: #007bff;
  transform: scale(1.05);
}

@media screen and (max-width: 1113px) {
  .container {
    width: 47%;
    max-width: 400px;
  }
}


/* Media queries for responsiveness */
@media screen and (max-width: 670px) {
  .container {
    width: 100%;
    margin: auto;
    max-width: 400px;
  }

  .description li {
    font-size: 16px;
  }
}