@import "../../vars.css";

.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  z-index:1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.cursor {
  display:inline-block;
  background-color: #ccc;
  margin-left: 0.5rem;
  width: 3px;
  animation: blink 1s infinite;
}


/* Add blinking animation */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


.title{
  background-color: var(--navbar-active-color) ;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  color: white;
  
}

.name{
  font-size:80px;
   
  color: var(--color-text);
}

.roleClass{
  display: inline-block;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  margin-top: 15px;
  margin-bottom: 20px;
  gap: 10px;
}

.contactInfo> div {
  display: flex;
}
.contactInfo > div > img {
  width: 20px;
  filter: var(--social-media-icon-filter);
}

.contactInfo > div {
  font-size: 20px;
}

.contactInfo > div > a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--color-text-secondary);
  transition: opacity 0.3s ease; /* Smooth transition */
}

.contactInfo div:hover img {
  filter: var(--social-media-icon-hover-filter);
  transition: 0.3s ease; /* Smooth transition for color change */
  width: 25px;
}

.contactInfo > div > a:hover {
  opacity: 1;  /* Full opacity on hover */
}

.socialMediaIcons{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 40px;
  min-height: 40px;
}

.socialMediaIcons > div {
  min-width: 40px;
}

.socialMediaIcon{
  width: 30px;
  filter: var(--social-media-icon-filter);
}

.socialMediaIcon:hover {
  width: 35px;
  filter: var(--social-media-icon-hover-filter);
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImgDiv{
  display: flex;
  width: 50%;
  justify-content: center;
}

.heroImgDiv > div {
  display: flex;
  justify-content: center;
  background-color: #283d63; 
  padding: 10px;
  border-radius: 50%;
  animation: floting;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.heroImgDiv > div > div{
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #213353; 
  border-radius: 50%;
}


.heroImg {
  border-radius: 50%;
  width: 100%;
  float: right;
  max-width: 450px;
}

@keyframes floting {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vm;
  min-width: 350px;
  min-height: 350px;
  top: -128px;
  left: 10vw;
  border-radius: 764px;
  background-color: var( --bg-color-light-gray);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vm;
  min-width: 350px;
  min-height: 250px;
  top: 240px;
  right: -25vw;
  border-radius: 764px;
  background-color: var( --bg-color-light-gray);
  filter: blur(100px);
  z-index: 0;
}


@media screen and (max-width: 767px) {
    .container {
      flex-direction: column-reverse;
      gap: 50px;
    }

    .content {
      align-items: center;
    }

    .contactInfo {
      align-items: center;
    }

    .name{
      font-size:55px;
    }
}

@media screen and (max-width: 500px) {
  .contactInfo > div > img {
    width: 18px;
  }
  
  .contactInfo > div {
    font-size: 15px;
  }
}