@import "../../vars.css";

.navbar {
  position: fixed;
  width: 100%;
  max-width: var(--max-screen-width);
  /* Constrain to max-width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: inherit;
  padding-right: inherit;
  z-index: 2;
  background-color: transparent;
  left: 50%;
  /* Center-align the navbar */
  transform: translateX(-50%);
  /* Adjust for the 50% left position */
  box-sizing: border-box;
  /* Ensure padding fits within width */
}


.navbar.scrolled {
  background-color: var(--navbar-bg);
  z-index: 3;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.nav__toggler {
  cursor: pointer;
  display: none;
}

.nav__toggler div {
  width: 2rem;
  height: 0.2rem;
  margin: 0.3rem;
  background: var(--color-text);
  transition: 0.4s ease-in-out;
}

.toggleIcon .one {
  transform: rotate(-45deg) translate(-6px, 5px);
  background-color: var(--navbar-active-color);
}

.toggleIcon .two {
  opacity: 0;
}

.toggleIcon .three {
  transform: rotate(45deg) translate(-6px, -5px);
  background-color: var(--navbar-active-color);
}

.menuBtn {
  display: none;
}

.menuItems li.active {
  border-bottom: 1px solid var(--navbar-active-color); /* Customize the color */
  color: var(--navbar-active-color);
}

.menuItems li.active a {
  color: var(--navbar-active-color);
}


@media screen and (max-width: 1040px){
  .title{
    display: none;
  }
  .navbar {
    justify-content: center;
  }

  .menu{
    width: 100%;
  }

  .menuItems {
    width: inherit;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: none;
    min-height: 4rem;
    padding-top: 20px;
  
  }
  .title {
    display: none;
  }

  .nav__toggler {
    display: block;
    z-index: 300;
  }

  .nav__toggler div{
    background-color: var(--color-text-secondary);
  }

  .menu {
    position: absolute;
    align-items: flex-start;
    gap: 11px;
    z-index: 51;
  }

  .menuItems{
    justify-content:flex-start;
  }

  .menuItems li {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    position: fixed;
    top: 0vh;
    left: -50%;
    width: 50%;
    height: 100vh;
    background: var(--color-dark);
    flex-direction: column;
    gap: 20px;
    z-index: 50;
    transform: translateX(0);
    transition: 0.5s ease-in;
    padding-top: 90px;
  }

  .menuOpen {
    left: 0;
    transform: translateX(0);
  }

  .menuClose {
    transform: translateX(-100%);
    left: -50%;
  }
}

/* Scroll progress bar container (below the navbar) */
.progressContainer {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.20);
  position: fixed;
  top: 0px;
  /* Adjust according to your navbar height */
  left: 0;
  z-index: 1;
}

/* Scroll progress bar itself */
.progressBar {
  height: 2px;
  background-color: var(--color-primary);
  width: 0%;
}